<%- include('partials/header') %>

        <section class="blog-one news">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4">
                        <div class="blog_one_single mb-30">
                            <div class="blog_one_image">
                                <div class="blog_image">
                                    <img src="assets/images/blog/blog-1-img-1.jpg" alt="Blog One Image">
                                    <div class="blog_one_date_box">
                                        <p>30 Oct, 2019</p>
                                    </div>
                                </div>
                                <div class="blog-one__content">
                                    <ul class="list-unstyled blog-one__meta">
                                        <li><a href="news_detail.html"><i class="far fa-user-circle"></i> Admin</a></li>
                                        <li><a href="news_detail.html"><i class="far fa-comments"></i> 2 Comments</a>
                                        </li>
                                    </ul>
                                    <h3><a href="news_detail.html">Punjab’s Challenge to the Centre Shows the Limitations of MSP As Agriculture Policy</a></h3>
                                    <div class="blog_one_text">
                                        <p>The Punjab assembly has hurriedly passed three pieces of legislation which attempt to nullify the Centre’s recent moves on the agricultural front.</p>
                                    </div>
                                    <div class="read_more_btn">
                                        <a href="https://thewire.in/agriculture/punjab-challenge-centre-limitations-msp-agriculture-policy"><i class="fa fa-angle-right"></i>Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="blog_one_single mb-30">
                            <div class="blog_one_image">
                                <div class="blog_image">
                                    <img src="assets/images/blog/blog-1-img-2.jpg" alt="Blog One Image">
                                    <div class="blog_one_date_box">
                                        <p>30 Oct, 2019</p>
                                    </div>
                                </div>
                                <div class="blog-one__content">
                                    <ul class="list-unstyled blog-one__meta">
                                        <li><a href="news_detail.html"><i class="far fa-user-circle"></i> Admin</a></li>
                                        <li><a href="news_detail.html"><i class="far fa-comments"></i> 2 Comments</a>
                                        </li>
                                    </ul>
                                    <h3><a href="news_detail.html">Why Governments Need to Advise Farmers on Alternative Cropping Patterns</a></h3>
                                    <div class="blog_one_text">
                                        <p>Despite the additional allocations of wheat and rice due to the COVID-19 crisis, their stocks remain much higher than the buffer norms. States and the Centre need to use data to guide farmers.
                                            suffered.</p>
                                    </div>
                                    <div class="read_more_btn">
                                        <a href="https://thewire.in/agriculture/wheat-rice-msp-procurement-cropping-patterns-data"><i class="fa fa-angle-right"></i>Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="blog_one_single mb-30">
                            <div class="blog_one_image">
                                <div class="blog_image">
                                    <img src="assets/images/blog/blog-1-img-3.jpg" alt="Blog One Image">
                                    <div class="blog_one_date_box">
                                        <p>30 Oct, 2019</p>
                                    </div>
                                </div>
                                <div class="blog-one__content">
                                    <ul class="list-unstyled blog-one__meta">
                                        <li><a href="news_detail.html"><i class="far fa-user-circle"></i> Admin</a></li>
                                        <li><a href="news_detail.html"><i class="far fa-comments"></i> 2 Comments</a>
                                        </li>
                                    </ul>
                                    <h3><a href="news_detail.html">Reaping carbon credits from agriculture
                                    </a></h3>
                                    <div class="blog_one_text">
                                        <p>Setting benchmarks for carbon sequestered or abated through farming and roping in companies to commercialise </p>
                                    </div>
                                    <div class="read_more_btn">
                                        <a href="https://www.financialexpress.com/opinion/reaping-carbon-credits-from-agriculture/2116860/"><i class="fa fa-angle-right"></i>Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="blog_one_single mb-30">
                            <div class="blog_one_image">
                                <div class="blog_image">
                                    <img src="assets/images/blog/blog-1-img-4.jpg" alt="Blog One Image">
                                    <div class="blog_one_date_box">
                                        <p>30 Oct, 2019</p>
                                    </div>
                                </div>
                                <div class="blog-one__content">
                                    <ul class="list-unstyled blog-one__meta">
                                        <li><a href="news_detail.html"><i class="far fa-user-circle"></i> Admin</a></li>
                                        <li><a href="news_detail.html"><i class="far fa-comments"></i> 2 Comments</a>
                                        </li>
                                    </ul>
                                    <h3><a href="news_detail.html">Farm Bills: A watershed for agriculture?</a></h3>
                                    <div class="blog_one_text">
                                        <p>For long, the laws governing agriculture markets in India have remained anarchic. The state has found reasons to over-regulate the agriculture sector </p>
                                    </div>
                                    <div class="read_more_btn">
                                        <a href="news_detail.html"><i class="fa fa-angle-right"></i>Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="blog_one_single mb-30">
                            <div class="blog_one_image">
                                <div class="blog_image">
                                    <img src="assets/images/blog/blog-1-img-5.jpg" alt="Blog One Image">
                                    <div class="blog_one_date_box">
                                        <p>30 Oct, 2019</p>
                                    </div>
                                </div>
                                <div class="blog-one__content">
                                    <ul class="list-unstyled blog-one__meta">
                                        <li><a href="news_detail.html"><i class="far fa-user-circle"></i> Admin</a></li>
                                        <li><a href="news_detail.html"><i class="far fa-comments"></i> 2 Comments</a>
                                        </li>
                                    </ul>
                                    <h3><a href="news_detail.html">More People Will Die of Extreme Heat Than of Infectious Diseases</a></h3>
                                    <div class="blog_one_text">
                                        <p>Unless the world curbs greenhouse gas emissions significantly, extreme heat could become a major global killer...</p>
                                    </div>
                                    <div class="read_more_btn">
                                        <a href="https://science.thewire.in/environment/more-people-will-die-of-extreme-heat-than-of-infectious-diseases/"><i class="fa fa-angle-right"></i>Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="blog_one_single mb-30">
                            <div class="blog_one_image">
                                <div class="blog_image">
                                    <img src="assets/images/blog/blog-1-img-6.jpg" alt="Blog One Image">
                                    <div class="blog_one_date_box">
                                        <p>30 Oct, 2019</p>
                                    </div>
                                </div>
                                <div class="blog-one__content">
                                    <ul class="list-unstyled blog-one__meta">
                                        <li><a href="news_detail.html"><i class="far fa-user-circle"></i> Admin</a></li>
                                        <li><a href="news_detail.html"><i class="far fa-comments"></i> 2 Comments</a>
                                        </li>
                                    </ul>
                                    <h3><a href="news_detail.html">Technology can track crop diseases impacting food security in Africa
                                    </a></h3>
                                    <div class="blog_one_text">
                                        <p>New research shows how food security in Africa could be protected by an algorithm that can track diseases in banana crops</p>
                                    </div>
                                    <div class="read_more_btn">
                                        <a href="https://www.openaccessgovernment.org/food-security-in-africa/96339/"><i class="fa fa-angle-right"></i>Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/footer') %>
